{% extends 'base.html.twig' %}

{% block body %}
    <twig:Header title=""></twig:Header>

    <div class="grid grid-cols-6 gap-4 px-4 pt-6 dark:bg-gray-900">
        <twig:Card title="Add Category Assignment Rule" grid="col-start-2 col-end-5">
            <turbo-frame id="form-drawer">

                {% if app.request.headers.get('turbo-frame') is not empty %}
                    <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
                        <i class="fa-solid fa-tag me-2.5"></i>Add Category Assignment Rule
                    </h5>
                {% endif %}

                {{ include('settings_rule/_form.html.twig') }}
            </turbo-frame>
        </twig:Card>
    </div>
{% endblock %}
