{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-1 gap-4 px-4 pt-6 dark:bg-gray-900">
        <twig:Card title="Dashboard" grid="">
        </twig:Card>
    </div>
{% endblock %}
