{% extends 'base.html.twig' %}

{% block body %}
    <twig:Header title="">
        <twig:block name="breadcrumb">
            <twig:BreadcrumbHome ></twig:BreadcrumbHome>
        </twig:block>
    </twig:Header>

    <div class="grid grid-cols-1 gap-4 px-4 pt-6 dark:bg-gray-900">
        <twig:Card title="Dashboard" grid="">
        </twig:Card>
    </div>
{% endblock %}
